<link rel="stylesheet" href="/CSS/weekly.css">
<body>
    <div class="container">
        <div class="section-views">
            <div>
                <a href="/">Detail View</a>
            </div>
            <div>
                <a href="/weekly">Weekly View</a>
            </div>
        </div>
        <div class="disp-icons">
            <div>
                <i class="fas fa-check-circle"></i>&ensp;Done
            </div>
            <div>
                <i class="fas fa-exclamation-triangle"></i></i>&ensp;Pending
            </div>
            <div>
                <i class="fas fa-times-circle"></i></i>&ensp;Not done
            </div>
        </div>
        <ul>
            <%for(habit of habits){%>
                <ul class="display-flex disp-days">
                    <%for(let j=habit.days.length-7;j<=habit.days.length-1;j++){%>
                        <li><%= habit.days[j].day%></li>
                    <%}%>
                </ul>
                <% break;%>
            <%}%>
        </ul>
        <div class="list-view">
            <%for(habit of habits){%>
                <div class="habit-name"><i class="fas fa-hand-point-right">&ensp;</i><%= habit.habitname%></div>
                <ul class="display-flex calender-view">
                    <%for(let j=habit.days.length-7;j<=habit.days.length-1;j++){%>
                        <% var dd=habit.days[j].date; dd=dd.split('-');%>
                        <li class="cal-item">
                            <small><%= months[dd[1]-1]%>&nbsp;<%= dd[2]%></small></br>
                            <%if(habit.days[j].action==='completed'){%>
                            <p><a href="/habit/toggleAction/?habitId=<%=habit.id%>&actionId=<%= j%>"><i class="fas fa-check-circle"></i></a></i></p>
                            <%}else if(habit.days[j].action==='pending'){%>
                                <p><a href="/habit/toggleAction/?habitId=<%=habit.id%>&actionId=<%= j%>"><i class="fas fa-exclamation-triangle"></i></a></i></p>   
                            <%}else{%>
                                <p><a href="/habit/toggleAction/?habitId=<%=habit.id%>&actionId=<%= j%>"><i class="fas fa-times-circle"></i></a></i></p>
                            <%}%>
                        </li>
                    <%}%>
                </ul>
            <%}%>
        </div>
    </div>
</body>